---
layout: default
---
<div class="main" style="clear:both;">
  <h2>{{ page.title }}</h2>
  <p class="meta">{{ page.date | date_to_string }}</p>

  <div class="post">
    {{ content }}
  </div>
</div>

<div class="comments" style="clear:both">
  <div id="disqus_thread"></div>
  <script type="text/javascript" src="http://disqus.com/forums/kjaikeerthi/embed.js">
  </script>
  <noscript>
    <a href="http://kjaikeerthi.disqus.com/?url=ref">View the discussion thread.</a>
  </noscript>
  <a href="http://disqus.com" class="dsq-brlink">
    blog comments powered by <span class="logo-disqus">Disqus</span>
  </a>
</div>
